body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.search-area {
  margin: 100px;
}

.search-area button {
  margin-left: 20px;
}

.movie-results {
  float: right;
  margin: 20px;
  width: 300px;
  height: 300px;
}

.movie-results img {
  width: 225px;
  height: 275px;
}
